#div1 {
    background-color: red;
    text-align: center;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
color: black;
width:100%;
height: 100px;
font-size: 300%
}
#image {
    width:300px;
    height:300px;
    

}

